Node-red flow Chirpstack to PLC over Modbus.txt
[{"id":"9b73fab6.1508c8","type":"json","z":"5ac49465.8cf0ac","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":180,"wires":[["86fe9a40.973408"]]},{"id":"86fe9a40.973408","type":"function","z":"5ac49465.8cf0ac","name":"data","func":"var datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":180,"wires":[["17358fdb.c6b74"]]},{"id":"7ca59ec2.d53c","type":"debug","z":"5ac49465.8cf0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":877,"y":262,"wires":[]},{"id":"17358fdb.c6b74","type":"function","z":"5ac49465.8cf0ac","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":668,"y":180,"wires":[["b8ca6c1.2d7779"]]},{"id":"b8ca6c1.2d7779","type":"function","z":"5ac49465.8cf0ac","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":262,"wires":[["7ca59ec2.d53c","7fca16c7.6698e8"]]},{"id":"7fca16c7.6698e8","type":"function","z":"5ac49465.8cf0ac","name":"decimal 16 bits","func":"var a = msg.payload[3];\nvar b = msg.payload[4];\nmsg.payload = a*256+b;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":360,"wires":[["838f75f0.107028","a264fa7d.9ac508"]]},{"id":"838f75f0.107028","type":"debug","z":"5ac49465.8cf0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":837,"y":361,"wires":[]},{"id":"7fee7707.d6e5d8","type":"mqtt in","z":"5ac49465.8cf0ac","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"54e659e3.6df8c8","x":256,"y":77,"wires":[["9b73fab6.1508c8","e314563f.074198"]]},{"id":"e314563f.074198","type":"debug","z":"5ac49465.8cf0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"a264fa7d.9ac508","type":"modbus-write","z":"5ac49465.8cf0ac","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"d7827f96.47d6e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":580,"y":480,"wires":[["122e98a7.a9fa47"],[]]},{"id":"122e98a7.a9fa47","type":"modbus-response","z":"5ac49465.8cf0ac","name":"","registerShowMax":20,"x":790,"y":420,"wires":[]},{"id":"bfb29620.31a728","type":"inject","z":"5ac49465.8cf0ac","name":"","topic":"","payload":"DTkBAAA=","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":360,"wires":[["b8ca6c1.2d7779"]]},{"id":"54e659e3.6df8c8","type":"mqtt-broker","z":"5ac49465.8cf0ac","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7827f96.47d6e","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]