Node-red flow Chirpstack to PLC over Modbus.txt
[{"id":"c166fdef.c5583","type":"json","z":"9bc262ff.a42e","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":180,"wires":[["3d79663f.67666a"]]},{"id":"3d79663f.67666a","type":"function","z":"9bc262ff.a42e","name":"data","func":"var datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":401,"y":180,"wires":[["a44543cf.3dcda"]]},{"id":"7e4d0d05.278494","type":"debug","z":"9bc262ff.a42e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":797,"y":262,"wires":[]},{"id":"a44543cf.3dcda","type":"function","z":"9bc262ff.a42e","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":588,"y":180,"wires":[["2f9693ec.0dc97c"]]},{"id":"2f9693ec.0dc97c","type":"function","z":"9bc262ff.a42e","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":262,"wires":[["7e4d0d05.278494","16094f3c.9faca1"]]},{"id":"16094f3c.9faca1","type":"function","z":"9bc262ff.a42e","name":"decimal 16 bits","func":"var a = msg.payload[1];\nvar b = msg.payload[2];\nmsg.payload = a*256+b;\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":360,"wires":[["e21f45b7.1eec08","aef61dc7.b1d49"]]},{"id":"e21f45b7.1eec08","type":"debug","z":"9bc262ff.a42e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":757,"y":361,"wires":[]},{"id":"b952e89a.cfdd58","type":"mqtt in","z":"9bc262ff.a42e","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"db640764.6bcb98","x":176,"y":77,"wires":[["c166fdef.c5583","e7c5e979.290dc8"]]},{"id":"e7c5e979.290dc8","type":"debug","z":"9bc262ff.a42e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":80,"wires":[]},{"id":"aef61dc7.b1d49","type":"modbus-write","z":"9bc262ff.a42e","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"d7827f96.47d6e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":480,"wires":[["dd8fa5c7.5e3318"],[]]},{"id":"dd8fa5c7.5e3318","type":"modbus-response","z":"9bc262ff.a42e","name":"","registerShowMax":20,"x":710,"y":420,"wires":[]},{"id":"db640764.6bcb98","type":"mqtt-broker","z":"9bc262ff.a42e","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7827f96.47d6e","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]